:host {
	display: block;
}

.header {
	position: relative;

	/* Header over loader's shade when table is loaded */
	z-index: 1;
}

.header__toolbar {
	display: flex;
	justify-content: space-between;
}
