<header class="header">
	<mat-toolbar class="header__toolbar">
		<a mat-button routerLink="/anime">Anime</a>

		<a mat-button routerLink="/anime/create">Create anime</a>

		<button *ngIf="isAuth$ | async; else Login"  mat-button type="button" (click)="logout()">
			Logout
			<mat-icon fontIcon="logout" /> 
		</button>

		<ng-template #Login>
			<a mat-button routerLink="/auth">
				Login
				<mat-icon fontIcon="login" /> 
			</a>
		</ng-template>
	</mat-toolbar>
</header>

<router-outlet></router-outlet>
