<mat-form-field *ngIf="control" class="password-field">
	<mat-label>Password</mat-label>
	<input matInput [formControl]="control" [type]="shouldPasswordBeHidden ? 'password' : 'text'">
	<button mat-icon-button matSuffix 
		type="button"
		(click)="changePasswordVisibility()" 
		[attr.aria-label]="'Hide password'" 
		[attr.aria-pressed]="shouldPasswordBeHidden">
		<mat-icon>{{shouldPasswordBeHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
	</button>
	<mat-error *ngIf="control.hasError('required')">Please enter password</mat-error>
	<mat-error *ngIf="control.hasError('minlength')">Min 8 characters</mat-error>
	<mat-error *ngIf="control.hasError('password_too_common')">Password to common</mat-error>
</mat-form-field>