<mat-form-field class="password-field" *ngIf="control && fieldName">
	<mat-label>{{fieldName | sentensecase}}</mat-label>
	<input matInput [formControl]="control" [type]="shouldPasswordBeHidden ? 'password' : 'text'" autocomplete="current-password">
	<button mat-icon-button matSuffix 
		type="button"
		(click)="changePasswordVisibility()" 
		[attr.aria-label]="'Hide password'" 
		[attr.aria-pressed]="shouldPasswordBeHidden">
		<mat-icon>{{shouldPasswordBeHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
	</button>
	<mat-error *ngIf="control.hasError('required')">Please enter {{fieldName}}</mat-error>
	<mat-error *ngIf="control.hasError('minlength')">Min 8 characters</mat-error>
	<mat-error *ngIf="control.getError('password_too_common') as passwordToCommonError">{{passwordToCommonError}}</mat-error>
	<mat-error *ngIf="control.hasError('passwordDoesNotMatch')">{{fieldName | sentensecase}} doesn't match</mat-error>
</mat-form-field>