<mat-form-field class="password-field" *ngIf="control && fieldName">
	<mat-label>{{fieldName | sentensecase}}</mat-label>
	<input matInput [formControl]="control" [type]="shouldPasswordBeHidden ? 'password' : 'text'" autocomplete="current-password">
	<button mat-icon-button matSuffix 
		type="button"
		(click)="changePasswordVisibility()" 
		[attr.aria-label]="'Hide password'" 
		[attr.aria-pressed]="shouldPasswordBeHidden">
		<mat-icon>{{shouldPasswordBeHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
	</button>
	<mat-error *ngIf="control.hasError('required')">{{'required' | fieldErrorText:fieldName}}</mat-error>
	<mat-error *ngIf="control.hasError('minlength')">{{'minlength' | fieldErrorText}} 8</mat-error>
	<mat-error *ngIf="control.hasError('passwordRepetition')">{{'passwordRepetition' | fieldErrorText: fieldName}}</mat-error>
	<mat-error *ngIf="control.getError('serverError') as serverError">{{serverError}}</mat-error>
</mat-form-field>