.profile {
	--max-content-width: 700px;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	flex: 1;
	padding: var(--space-m);
	gap: var(--space-l);
}

.profile__header {
	max-width: var(--max-content-width);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profile__actions {
	display: flex;
	align-items: center;
	gap: var(--space-s);
}

.profile__form {
	display: grid;
	grid-gap: var(--space-l) var(--space-m);
	grid-template-columns: 1fr 1fr;
	max-width: var(--max-content-width);
	width: 100%;
	position: relative;
}

.profile__avatar,
.profile__email {
	grid-column: 1/3;
}

.profile__field_readonly {
	pointer-events: none;
}
