.aside {
	margin-top: 70px;
	height: 100%;
	width: 360px;
	background-color: var(--background-color);
}

.form {
	padding: var(--space-s);
	display: flex;
	flex-direction: column;
	gap: var(--space-s);
}
