.anime-page__filters {
	padding: var(--space-m) var(--space-m) 0 var(--space-m);
	display: flex;
	gap: var(--space-m);
}

.anime-page__image-cell {
	height: var(--table-image-size);
	width: var(--table-image-size);
	display: flex;
	align-items: center;
	justify-content: center;
}

.anime-page__image {
	max-width: 100%;
	max-height: 100%;
}

.mat-mdc-row:hover {
	cursor: pointer;

	/* Overriding the library style */
	background-color: var(--accent-surface-color) !important;
}
