<form [formGroup]="filtersForm" class="anime-page__filters">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput placeholder="e.g. Naruto" [formControl]="filtersForm.controls.search">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Type filter</mat-label>
    <mat-select [formControl]="filtersForm.controls.type" multiple>
      <mat-option *ngFor="let type of animeTypes; trackBy: trackAnimeType" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<ng-container *ngIf="sorting$ | async as sorting">
  <table mat-table 
    matSort 
    [matSortActive]="sorting.field"
    [matSortDirection]="sorting.direction"
    (matSortChange)="handleSortChange($event)"
    *ngIf="animeList$ | async as animeList" 
    [dataSource]="animeList.items" 
    class="mat-elevation-z8" 
    aria-describedby="anime list">
    
    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element"> 
        <div class="anime-page__image-cell">
          <img [src] = "element.image" [alt]="element.titleEng + 'cover'" class="anime-page__image"/> 
        </div>
      </td>
    </ng-container>
      
    <!-- English title Column -->
    <ng-container matColumnDef="titleEnglish">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by english title"> Title (eng.) </th>
      <td mat-cell *matCellDef="let element"> {{element.titleEnglish}} </td>
    </ng-container>
      
    <!-- Japanese title Column -->
    <ng-container matColumnDef="titleJapanese">
      <th mat-header-cell *matHeaderCellDef> Title (jpn.) </th>
      <td mat-cell *matCellDef="let element"> {{element.titleJapanese}} </td>
    </ng-container>
      
    <!-- Release start date Column -->
    <ng-container matColumnDef="aired.start">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by aired start"> Aired start </th>
      <td mat-cell *matCellDef="let element"> {{(element.aired.start !== null) ? (element.aired.start | date) : "" }} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status"> Status </th>
      <td mat-cell *matCellDef="let element"> {{getReadableStatus(element.status)}} </td>
    </ng-container>

    <!-- Paginator column -->
    <ng-container matColumnDef="paginator">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-footer-cell *matFooterCellDef colspan="6" >
        <mat-paginator [pageSizeOptions]="pageSizeOptions"
          showFirstLastButtons
          *ngIf="{value: page$ | async} as page"
          [pageIndex]="page.value"
          [pageSize]="limit"
          [length]="animeList.count"
          (page)="handlePageEvent($event)"
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </td>
    </ng-container>
        
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['paginator']; sticky: true"></tr>
  </table>
</ng-container>

<div class="anime-page__shade" *ngIf="isLoading$ | async">
  <camp-spinner></camp-spinner>
</div>