<div class="anime-page">
   <table mat-table 
		*ngIf="animeList$ | async as animeList" 
		[dataSource]="animeList.items" 
		[trackBy]="trackById"
		class="mat-elevation-z8" 
		aria-describedby="anime list"
	>
	  
		<!-- Image Column -->
		<ng-container matColumnDef="image">
			<th mat-header-cell *matHeaderCellDef>Image</th>
			<td mat-cell *matCellDef="let element"> 
				<div class="anime-page__image-cell">
					<img [src]="element.imageUrl" [alt]="element.titleEng + 'cover'" class="anime-page__image" /> 
				</div>
			</td>
		</ng-container>
		
		<!-- English title Column -->
		<ng-container matColumnDef="titleEnglish">
			<th mat-header-cell *matHeaderCellDef>Title (eng.)</th>
			<td mat-cell *matCellDef="let element">{{element.titleEnglish}}</td>
		</ng-container>
		
		<!-- Japanese title Column -->
		<ng-container matColumnDef="titleJapanese">
			<th mat-header-cell *matHeaderCellDef>Title (jpn.)</th>
			<td mat-cell *matCellDef="let element">{{element.titleJapanese}}</td>
		</ng-container>
		
		<!-- Release start date Column -->
		<ng-container matColumnDef="aired.start">
			<th mat-header-cell *matHeaderCellDef>Aired start</th>
			<td mat-cell *matCellDef="let element">{{element.aired.start | date}}</td>
		</ng-container>

		<!-- Type Column -->
		<ng-container matColumnDef="type">
			<th mat-header-cell *matHeaderCellDef>Type</th>
			<td mat-cell *matCellDef="let element">{{element.type}}</td>
		</ng-container>

		<!-- Status Column -->
		<ng-container matColumnDef="status">
			<th mat-header-cell *matHeaderCellDef>Status</th>
			<td mat-cell *matCellDef="let element">{{getReadableStatus(element.status)}}</td>
		</ng-container>

		<!-- Paginator column -->
		<ng-container matColumnDef="paginator" *ngIf="pagination$ | async as pagination">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-footer-cell *matFooterCellDef colspan="6" >
			<mat-paginator [pageSizeOptions]="pageSizeOptions"
				showFirstLastButtons
				[pageIndex]="pagination.pageNumber"
				[pageSize]="pagination.pageSize"
				[length]="animeList.count"
				(page)="handlePageEvent($event, pagination)"
				aria-label="Select page of periodic elements">
			</mat-paginator>
			</td>
		</ng-container>
			
		<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		<tr mat-footer-row *matFooterRowDef="['paginator']; sticky: true"></tr>
	</table>

	<div class="anime-page__shade" *ngIf="isLoading$ | async">
		<camp-spinner></camp-spinner>
	</div>
</div>
