html {
  font-size: var(--body-font-size);
  font-family: Inter, system-ui, sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.default-layout {
  padding: 0 var(--space-l);
  display: flex;
  justify-content: center;
}
