.blackjack {
  max-width: 500px;
  width: 100%;
}

.blackjack__result-item {
  width: 100%;
  padding: var(--space-s);
  border: 1px solid var(--surface-color);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-s);
}

.blackjack__result-item.win {
  background-color: lightpink;
}

.blackjack__result-item.active {
  border-color: lightgreen;
}

.blackjack__result-item .result-item__moves {
  display: flex;
  width: 100%;
  overflow: auto;
  align-items: center;
  gap: calc(var(--space-s) * 0.75);
}

.blackjack__result-item .result-item__name,
.blackjack__result-item .result-item__score {
  font-weight: 500;
}
