:root {
  /* Font size */
  --font-size-m: 20px;
  --font-size-s: calc(var(--font-size-m) * 0.9);

  /* Colors */
  --primary-color: hsl(16deg 88% 54% / 100%);
  --on-primary-color: hsl(0deg 0% 100% / 100%);
  --surface-color: hsl(0deg 0% 100% / 100%);
  --surface-overlay-color: hsl(0deg 0% 0% / 5%);
  --on-surface-color: hsl(0deg 0% 0% / 100%);
  --on-surface-dim-color: hsl(0deg 0% 0% / 50%);
  --border-color: hsl(0deg 0% 0% / 15%);

  /* Border radius */
  --border-radius: 16px;

  /* Spaces */
  --space-m: 16px;
  --space-s: calc(var(--space-m) * 0.75);
}
