:root {
	/* Spaces */
	--space-m: 16px;
	--space-s: calc(var(--space-m) / 2);

	/* Colors */
	--on-surface: hsl(0deg 0% 0% / 16%);
	--blackout-color: rgba(0 0 0 / 20%);
	--background-color: #eaf9ff;
}
