:root {
  /* Font size */
  --body-font-size: 20px;
  --body-small-font-size: 16px;
  --subtitle-font-size: 18px;

  /* Colors */
  --primary: hsl(16deg 88% 54% / 100%);
  --on-primary: hsl(0deg 0% 100% / 100%);
  --surface: hsl(0deg 0% 100% / 100%);
  --surface-overlay: hsl(0deg 0% 0% / 5%);
  --on-surface: hsl(0deg 0% 0% / 100%);
  --on-surface-dim: hsl(0deg 0% 0% / 50%);
  --border: hsl(0deg 0% 0% / 15%);

  /* Border radius */
  --medius-border-radius: 24px;
  --small-border-radius: 16px;

  /* Spaces */
  --very-large-space: 40px;
  --large-space: 32px;
  --medium-space: 24px;
  --small-space: 16px;
  --little-space: 8px;

  /* Sizes */
  --icon-size: 24px;
  --header-height: calc(3 * var(--medium-space) + var(--body-font-size));
  --filters-height: calc(24px + 2 * var(--little-space));

  /* Other styles */
  --standart-border-options: 1px solid var(--border);
}
