<mat-select
	[(ngModel)]="value"
	#itemsSelect 
	multiple
	(openedChange)="handleSelectOpenedChange(!$event)">
	<ng-container *ngIf="filteredItems$ !== null && valueKey !== null && nameKey !== null">
		<div class="select-add-item">
			<input [formControl]="inputControl" placeholder="Add..." class="select-add-item__input">
			<button type="button" 
				mat-mini-fab 
				matTooltip="Create"  
				color="primary" 
				aria-label="Create new item" 
				(click)="createItem()">
				<mat-icon>add</mat-icon>
			</button>
		</div>
	
		<mat-option *ngFor="let item of filteredItems$ | async" [value]="item[valueKey]">{{item[nameKey]}}</mat-option>
	</ng-container>
</mat-select>
