<div class="anime-table__wrapper" *ngIf="(animeList$ | async) as animeList; else Loading">
  <div class="anime-table__shade" *ngIf="(isLoading$ | async) as isLoading">
       <camp-spinner *ngIf="isLoading"></camp-spinner>
  </div>
  <table mat-table [dataSource]="animeList" class="mat-elevation-z8 anime-table" aria-describedby="anime list">
      
    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let element" class=""> 
        <div class="anime-table__image-cell">
          <img [src] = "element.image" [alt]="element.titleEng + 'cover'" class="anime-table__image"/> 
        </div>
      </td>
    </ng-container>
      
    <!-- English title Column -->
    <ng-container matColumnDef="titleEnglish">
      <th mat-header-cell *matHeaderCellDef> Title (eng.) </th>
      <td mat-cell *matCellDef="let element"> {{element.titleEnglish}} </td>
    </ng-container>
      
    <!-- Japanese title Column -->
    <ng-container matColumnDef="titleJapanese">
      <th mat-header-cell *matHeaderCellDef> Title (jpn.) </th>
      <td mat-cell *matCellDef="let element"> {{element.titleJapanese}} </td>
    </ng-container>
      
    <!-- Release start date Column -->
    <ng-container matColumnDef="aired.start">
      <th mat-header-cell *matHeaderCellDef> Aired start </th>
      <td mat-cell *matCellDef="let element"> {{element.aired.start | date}} </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Paginator column -->
    <ng-container matColumnDef="paginator">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-footer-cell *matFooterCellDef colspan="6" >
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          *ngIf="{value: page$ | async} as page"
          [pageIndex]="page.value"
          [pageSize]="limit"
          [length]="animeTotalCount$ | async"
          (page)="handlePageEvent($event)"
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </td>
    </ng-container>
      
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['paginator']; sticky: true"></tr>
  </table>
</div>

<ng-template #Loading>
    <camp-spinner></camp-spinner>
</ng-template>
