.anime-table-page__wrapper {
  position: relative;
}

.anime-table-page__shade {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--on-surface-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.anime-table-page__image-cell {
  height: var(--table-image-size);
  width: var(--table-image-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.anime-table-page__image {
  max-width: 100%;
  max-height: 100%;
}
