.mainPageContainer {
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: var(--space-m);
	padding: var(--space-m) 0;
}

.animeCard {
	width: 345px;
}

.animeCard:hover {
	background-color: var(--on-surface);
	cursor: pointer;
}


