<p class="typography-title">Sign in</p>
<form [formGroup]="form" (ngSubmit)="handleSubmit()" class="auth-form">
	<mat-form-field *ngIf="form.controls.email as email">
		<mat-label>Email</mat-label>
		<input matInput placeholder="example@gmail.com" [formControl]="email">
		<mat-error *ngIf="email.hasError('required')">Please enter email</mat-error>
		<mat-error *ngIf="email.hasError('email')">Invalid email</mat-error>
	</mat-form-field>

	<camp-password-field [control]="form.controls.password" />

	<button type="submit" mat-raised-button color="primary" class="auth-form__submit-button">Sign in</button>
</form>

<a routerLink="/auth/signup" mat-button>Sign up</a>
