.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: var(--space-m);
}

.not-found__title {
  font-size: var(--font-size-l);
  color: var(--primary-contrast-color);
  line-height: var(--line-height-l);
}

.not-found__subtitle {
  font-size: var(--font-size-m);
  color: var(--primary-contrast-color);
  line-height: var(--line-height-m);
}
